$mainColor : #49b797 ;
$activeColor : #7fc3af ;
$gray : #f5f5f5 ;
$darkGray : #e8e8e8 ;
$otherGray : #c3c3c3 ;
$darkestGray : #aaaaaa ;
$fontColor : #000 ;
$subFont : #918f8f ;
$navy : #232c4f ;
$green : #69a96c ;
$red : #df625f ;

@mixin transition($duration){
  transition: all $duration*1s ease-in ;
  -webkit-transition: all $duration*1s ease-in ;
  -moz-transition: all $duration*1s ease-in ;
  -o-transition: all $duration*1s ease-in ;
}

@import "_base";
@import "_navs";
@import "_login";
@import "_admin";
@import "_reset";
@import "_other" ;

/*
    Ukuran :
    - 12 : font umum
    - 14 : username sign in, tombol sign in, judul tab, sign out, nama admin
    - 18 : nama menu di sidebar
    - 23 : judul bulan di timeline leave
    - 28 : tulisan "LEAVE BOT"
    - 30 : WELCOME di login
*/
